html { 
  font-family: sans-serif;
  font-size: max(5vmax, 30pt);
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0;
  overflow-wrap: anywhere;
}

article {
  display: flex;
  flex-flow: column;
  margin: 1rem;
}

h1 {
  display: contents;
}

p { 
  display: flex;
}

:focus { 
  outline: thick groove;
}
